<!DOCTYPE html>
<html>
<head>
    <title>Add Manager</title>
</head>
<body>
    <h1>Add Manager</h1>
    <form action="/managerMenu" method="post">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="pw">PW:</label><br>
        <input type="password" id="pw" name="pw"><br>
        <label for="name">NAME:</label><br>
        <input type="text" id="name" name="name"><br>
        <input type="hidden" name="action" value="관리자 추가">
        <input type="submit" value="추가하기">
    </form>
</body>
</html>
